@import './base.css';

a,
.green {
  text-decoration: none;
  color: var(--color-positive);
}

.red {
  text-decoration: none;
  color: var(--color-danger);
}

.header {
  text-align: center;
  text-decoration: none;
}

.overlay {
  position: fixed;
  top: var(--doc-height);
  left: 0px;
  width: 100vw;
  height: calc(100vh - var(--doc-height));
  z-index: 998;
}

input,
select {
  font-size: 18px;
  background-color: var(--color-background);
  color: var(--color-text);
  outline: none;
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius);
}

.bordered {
  border: 2px solid var(--color-border);
  border-radius: var(--border-radius);
}

@media (hover: hover) {
  a:hover {
    /* background-color: hsla(160, 100%, 37%, 0.2); */
    cursor: pointer;
  }
}

/* animations */
.slide-left-enter-active {
  transition: all 0.5s ease;
}
.slide-left-enter-from {
  transform: translateX(-200px);
  opacity: 0;
}
input,
select,
textarea {
  background-color: var(--color-background);
  color: var(--color-text);
  outline: none;
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius);
}
.required {
  background-color: hsla(3, 100%, 37%, 0.2);
  color: black;
}
.loading-spinner {
  text-align: center;
}

.hook-title {
  flex: 1 1 auto;
  text-align: start;
}
.hook-header {
  display: flex;
  flex-direction: row;
  gap: var(--default-gap);
  position: relative;
}
.hook-view-controls {
  display: flex;
  flex-direction: row-reverse;
  column-gap: var(--default-gap);
  margin-bottom: 5px;
}
