@import './base.css';

a,
.green {
  text-decoration: none;
  color: var(--color-positive);
  transition: 0.4s;
}

.red {
  text-decoration: none;
  color: var(--color-danger);
  transition: 0.4s;
}

.title {
  text-align: center;
  text-decoration: none;
  color: var(--color-positive);
}

.btn {
  background-color: hsla(160, 100%, 37%, 0.2);
  border-color: transparent;
  border-radius: var(--border-radius);
  min-width: 90px;
  min-height: 40px;
  color: black;
}

.btn:hover {
  opacity: 0.5;
}

.overlay {
  position: fixed;
  top: var(--doc-height);
  left: 0px;
  width: 100vw;
  height: calc(100vh - var(--doc-height));
  background-color: var(--background-tilt);
  z-index: 998;
}

input,
select {
  min-height: 40px;
  font-size: 18px;
  background-color: var(--color-background);
  color: var(--color-text);
  outline: none;
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius);
}

.bordered {
  border: 2px solid var(--color-border);
  border-radius: var(--border-radius);
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
    cursor: pointer;
  }
}

/* animations */
.slide-left-enter-active {
  transition: all 0.5s ease;
}
.slide-left-enter-from {
  transform: translateX(-200px);
  opacity: 0;
}
input,
select,
textarea {
  background-color: var(--color-background);
  color: var(--color-text);
  outline: none;
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius);
}
.field-container {
  display: grid;
  grid-template-columns: 50% 50%;
  border-radius: var(--border-radius);
}
.field-label {
  text-align: center;
}
.required {
  background-color: hsla(3, 100%, 37%, 0.2);
  color: black;
}
.loading-spinner {
  text-align: center;
}

.controls-holder {
  position: absolute;
  bottom: 0px;
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: var(--default-gap);
}
.controls-holder button {
  width: 100%;
}

.hook-title {
  flex: 1 1 auto;
  text-align: start;
}
.hook-header {
  display: flex;
  flex-direction: row;
  gap: var(--default-gap);
  position: relative;
}
.hooks-list-view {
  max-height: 80vh;
  overflow-y: auto;
  margin-top: var(--default-gap);
}
.hook-view-controls {
  display: flex;
  flex-direction: row-reverse;
  column-gap: var(--default-gap);
  margin-bottom: 5px;
}

.toast {
  position: relative;
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius);
  width: var(--toast-width);
  min-height: var(--toast-min-height);
  padding: 10px 5px 5px 5px;
  z-index: 1000;
  transition: 0.4s;
}
.toast button {
  background-color: transparent;
  border-color: transparent;
  position: absolute;
  top: 0px;
  right: 0px;
  outline: none;
  user-select: none;
}
.toast h2 h3 {
  text-align: center;
}

.log-message-container {
  display: grid;
  column-gap: calc(var(--default-gap) / 2);
  grid-template-columns: 200px 150px 200px 120px auto;
  text-align: center;
  padding: var(--padding-default);
}
.log-message-container * {
  border-right: 2px solid var(--color-border);
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.log-message-container:last-child {
  border-right: none;
}